


<div class="container-fluid   bg-light border-top border-5  ">
   <p class="fw-bold text-center h1">  Footer  </p>
<div class="container">
<div class="row">
<div class="col-lg-4">

<ul>

  <li> Home  </li>
  <li> About </li>
  <li> Contact </li>
  <li> Service  </li>


</ul>

</div>
<div class="col-lg-4">
<ul>
<a routerLink="Contact" routerLinkActive="active">
  <li> More </li></a>


<li> More </li>
<li> More </li>
<li> More </li>


</ul>

  
</div>
<div class="col-lg-4">

<ul>
<li>More</li>
<li>More</li>
<li>More</li>
<li>More</li>


</ul>
  
</div>




</div>



</div>



</div>