


<div class="container-fluid  img-bg  bg-light border-top border-5   d-flex justify-content-center ">

<div class="container footer mt-5">
<div class="row">
<div class="col-lg-4 d-flex justify-content-center">

<ul >

  <a href=""><li> Home  </li></a>
  <a href=""><li> About </li></a>
  <a routerLink="Contact" routerLinkActive="active">
    <li> More </li></a>
  
  <a href=""><li> Service  </li></a>


</ul>

</div>
<div class="col-lg-4 d-flex justify-content-center">
<ul>


<li> More </li>
<li> More </li>
<li> More </li>


</ul>

  
</div>
<div class="col-lg-4 d-flex justify-content-center">




  
</div>




</div>



</div>



</div>