


<div class="container">
<div class="row mt-lg-5 mt-md-5">
  <div class="col-lg-6  d-flex justify-content-center">

    <img class="img-fluid" src="../../asset/About1.jpg"
     alt="">

  </div>


<div class="col-lg-6 ">

<p class="pt-lg-0  pt-md-3 pt-sm-3">HOW TO PLAY - Place it on the desk, and with a simple tap, you can delve into Eilik's emotional world. The head, belly, and back each trigger different emotions. A multitude of expressions await discovery, and you can also lift it up or gently pat its head. Whether it's gentle or temperamental, it all depends on your interaction. Most importantly, just power on & play with him whenever you want.</p>
</div>


</div>



<div class="row">
<div class="col-lg-6 d-flex">
<img class="img-fluid" src="../../asset/about3.jpg" alt="">

<p class="pt-3">Safe and Soft Material: Teddy bear as christmas decorations, made of soft plush material, filled with 100% PP cotton, very soft and fluffy, embrace it like being wrapped in a cloud.Passed CPSIA certification, no shedding, no fading, safe, cozy to hug, perfect as a sleep companion for baby children
  Cute Design: White teddy bear, must-have style, you can freely decorate this small teddy bear.Cuddly body, sweet face, dispel all your stress and worries~whole item measures 18inch, perfect size for holding in arms or carrying to anywhere. Hand sewn nose and lock-washer eyes, ensure safe for young children</p>
</div>

<div class="col-lg-6  d-flex justify-content-center ">
  <img src="../../asset/about2.jpg" alt="">


</div>



</div>

<div class="row">
<div class="col-lg-4 d-flex justify-content-center">

<img class="img-fluid" src="../../asset/about5.jpg" alt="">
</div>
<div class="col-lg-4 d-flex justify-content-center">

  <img class="img-fluid" src="../../asset/about-7.png" alt="">
</div>
<div class="col-lg-4 d-flex justify-content-center">
<img class="img-fluid" src="../../asset/about6.jpg" alt="">
</div>






</div>