<!-- <i class="fa fa-solid fa-user"></i>
<i class="fa fa-solid fa-star"></i> -->
<!-- <p>If you click on the "Hide" button, I will disappear.</p>

<button id="hide">Hide</button>
<button id="show">Show</button> -->
<body>

<div class="container-lg d-flex justify-content-center   height ">


<img class="img-fluid mt-1 mb-1" src="../../asset/contact1.jpg" alt="Contact1">



  <form  action="#" class="mt-5 mb-5 w-75 bg-light rounded-2 border border-2 ">

<input class="form-control he " type="text" placeholder="First Name" required>
<br>
<input class="form-control" type="text" placeholder="Last Name" required>

<br>

<select id="disabledSelect" class="form-select" required >
  <option>Option 1</option>
  <option>Option 2</option>
  <option>Option 3</option>
  <option>Option 4</option>
</select>

<br>
<div class="form-floating">
  <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea" required ></textarea>
  <label for="floatingTextarea">Comments</label>
</div>
<br>

<input class="btn btn-success" type="submit">





  </form>



</div>



</body>
