
<!-- 
<app-header> </app-header> -->


<!-- <img src="../../asset/img.png" alt="Alt"> -->


<body >

<div class="container d-flex justify-content-center">
<img class="img-fluid"   src="../../asset/hihome.png" alt="">


</div>


  
<div class="container  ">

<div class="row ">

<div class="col-lg-6 bg-light border border-1 rounded-2 mt-4 align-content-center">
<p  class="text-center lead display-4 ">  KID   </p>

<p>Welcome to KID's need. Your children will love these all. Buy for them , they are happy when see thses. </p>





</div>
<div class="col-lg-6 mt-4 border border-1 rounded-top-2 left-home">

<img  class="img-fluid rounded-2  " src="../../asset/home1.jpg" alt="">


</div>

</div>



</div>



</body>




<!-- <app-footer> </app-footer> -->

